* {
  padding: 0;
  margin: 0;
}

body {
  font-family: monospace, sans-serif;
  width: 100%;
  /*background-color: rgb(241, 226, 255);*/
}

header {
  padding: 20px;
  text-align: right;
  background: #13293d;
  color: #fff;
}

/************NAVIGATION AREA*******************/
nav {
  display: block;
  height: 100px;
}

li {
  display: inline;
  padding: 6px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: lightgrey;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}



.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

main {

}

p {
  z-index: 10;
}

h1 {
  padding-top: 100px;
}

h2 {
  padding-top: 600px;
}

h3 {

}

.header-img { 
  width: 100px;
  height: 100px;
  padding: 5px;
}

/************MAIN PHOTO AND TEXT*******************/
.hero-image {
  background-image: url("../../Pictures/IMG_2188.JPG"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  height: 600px;
  width: 100vw;
  padding-top: 20%;
}

.hero-text {
  width: 100%;
  z-index: 200;
}

.hero-text h1{
  text-align: center;
  color: white;
  font-size: 30px;
}

.inner-text {
  font-weight: 700;
  font-size: 24px;
  margin: 0 auto;
}


/**************MAIN CONTAINER BELOW PHOTO*************/
.main-container {
  width: 100%;
}

.sidebar {
  width: 300px;
  height: auto;
  background-color: white;
  display: inline-block;
  text-align: right;
  padding: 30px;
}

/**************FLEXBOX CONTAINER*************/
.flexbox-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around; /*This allows even space around all flex-boxes*/
  align-items: center; /*aligning boxes at the center*/
}

/**************FLEXBOXES*************/
.flexbox-item {
  width: 400px;
  margin: 10px;
  padding: 10px;
  border: 3px solid rgb(176, 92, 255);
  background-color: blueviolet;
}

.linear-gradient-background {
  background-image:
  linear-gradient(
    rgb(138, 32, 138), pink
  );
}

.flexbox-item-title {
  display: flex;
  max-height: 30px;
  max-width: 200px;
  border: 3px solid rgb(176, 92, 255);
  justify-content: center;
}

.flexbox-title {
  max-height: 70px;
  max-width: 200px;
  border-radius: 5%;
  text-align: center;
  color: white; 
}

.flexbox-item-1 {
  min-height: 500px;
  border-radius: 5%;
}

.flexbox-item-2 {
  min-height: 500px;
  border-radius: 5%;
}

.flexbox-item-3 {
  min-height: 500px;
  border-radius: 5%;
}



aside {
  display: block;
  width: 25%;
}

section {
  background-color: #fff;
  padding: 20px;
}

footer {
  padding: 20px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

.line {
  border-right: 4px solid black;
}


/****MEDIA QUERY RELATED TO DISPLAYS ON MULTIPLE DEVICES**/
/* When using `max-width` as the breakpoint, you must go from widest to narrowest to avoid conflict */

/* this media only screen is related to large devices and directed at the sidebar disappearing when less than 992px*/
@media only screen and (max-width: 992px) {

  .sidebar {
    display: none;
  }
}

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
  header {
    background: #772014;
  }
}

/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
  nav {
    background-color: #bb8588;
  }
}

/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {
  .sample-img {
    background-color: #8ac4ff;
  }
}


aside {
  width: 25%;
  float: left;
  background-color: #bb8588;
}

section {
  float: right;
  background-color: #fff;
  padding: 20px;

}
