* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial;
  width: 100%;
  background-color: bisque;
}

header {
  padding: 20px;
  text-align: right;
  background: #13293d;
  color: #fff;
}


nav {
  display: block;
  height: 100px;

}

li {
  display: inline;
  padding: 6px;
}

main {

}

p {
  z-index: 10;
}

h1 {
  padding-top: 100px;
}

h2 {
  padding-top: 400px;
}

.header-img { 
  width: 100px;
  height: 100px;
  padding: 5px;
}

/************MAIN PHOTO AND TEXT*******************/
.hero-image {
  background-image: url("../../Pictures/IMG_2188.JPG"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  height: 600px;
  width: 100vw;
  padding-top: 20%;
}

.hero-text {
  width: 100%;
  z-index: 200;
}

.hero-text h1{
  text-align: center;
  color: white;
  font-size: 30px;
}

.inner-text {
  font-weight: 700;
  font-size: 24px;
  margin: 0 auto;
}


/**************MAIN CONTAINER BELOW PHOTO*************/
.main-container {
  width: 100%;
}

.sidebar {
  width: 350px;
  height: auto;
  background-color: white;
  display: inline-block;
  text-align: right;
  padding: 30px;
}

.flexbox-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around; /*This allows even space around all flex-boxes*/
  align-items: center; /*aligning boxes at the center*/
  background-color: #bb8588;
}

.flexbox-item {
  width: 200px;
  margin: 10px;
  border: 3px solid black;
  background-color: white;
}

.flexbox-item-1 {
  min-height: 100px;
}

.flexbox-item-2 {
  min-height: 200px;
}

.flexbox-item-3 {
  min-height: 300px;
}



aside {
  display: block;
  width: 25%;
  background-color: #bb8588;
}

section {
  background-color: #fff;
  padding: 20px;

}

footer {
  padding: 20px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

.line {
  border-right: 4px solid black;
}


/****MEDIA QUERY RELATED TO DISPLAYS ON MULTIPLE DEVICES**/
/* When using `max-width` as the breakpoint, you must go from widest to narrowest to avoid conflict */

/* this media only screen is related to large devices and directed at the sidebar disappearing when less than 992px*/
@media only screen and (max-width: 992px) {

  .sidebar {
    display: none;
  }
}

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
  header {
    background: #772014;
  }
}

/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
  nav {
    background-color: #bb8588;
  }
}

/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {
  .sample-img {
    background-color: #8ac4ff;
  }
}


aside {
  width: 25%;
  float: left;
  background-color: #bb8588;
}

section {
  float: right;
  background-color: #fff;
  padding: 20px;

}
